@charset "UTF-8";
/* line 1, app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fafafa;
  color: #333;
  margin: 33px;
}

/* line 6, app/assets/stylesheets/scaffolds.scss */
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 11, app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 16, app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}

/* line 19, app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}

/* line 22, app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 26, app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 29, app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 32, app/assets/stylesheets/scaffolds.scss */
div.field,
div.actions {
  margin-bottom: 10px;
}

/* line 36, app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 39, app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 44, app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 51, app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

/* line 60, app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 64, app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}

/* line 67, app/assets/stylesheets/scaffolds.scss */
table {
  border: 1px solid #c1c1c1;
  border-collapse: collapse;
  width: 100%;
}

/* line 72, app/assets/stylesheets/scaffolds.scss */
table th {
  background: #f1f1f1;
  font-size: 16px;
  text-align: left;
  padding: 15px 10px;
}

/* line 80, app/assets/stylesheets/scaffolds.scss */
table .btn-ver a:hover {
  background: #23cba7;
}

/* line 87, app/assets/stylesheets/scaffolds.scss */
table .btn-editar a:hover {
  background: #19b5fe;
}

/* line 94, app/assets/stylesheets/scaffolds.scss */
table .btn-eliminar a:hover {
  background: #e74c3c;
}

/* line 99, app/assets/stylesheets/scaffolds.scss */
table td {
  font-size: 16px;
  padding: 15px 10px;
}

/* line 102, app/assets/stylesheets/scaffolds.scss */
table td a {
  font-size: 16px;
  text-decoration: none;
  background: none;
  border: 1px solid #c1c1c1;
  padding: 10px 15px;
  border-radius: 10px;
}

/* line 112, app/assets/stylesheets/scaffolds.scss */
.flex-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 116, app/assets/stylesheets/scaffolds.scss */
.flex-buttons a, .flex-buttons input {
  background: #f2784b;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  max-width: 200px;
}

/* line 125, app/assets/stylesheets/scaffolds.scss */
.flex-buttons a:hover, .flex-buttons input:hover {
  background: #b45836;
}

/* line 129, app/assets/stylesheets/scaffolds.scss */
.flex-buttons input {
  margin-top: 15px;
  height: 40px;
}

/* line 134, app/assets/stylesheets/scaffolds.scss */
.flex-end {
  justify-content: flex-end !important;
}

/* line 137, app/assets/stylesheets/scaffolds.scss */
.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

/* line 143, app/assets/stylesheets/scaffolds.scss */
.d-flex {
  display: flex;
}

/* line 146, app/assets/stylesheets/scaffolds.scss */
.wrap {
  flex-wrap: wrap;
}

/* line 149, app/assets/stylesheets/scaffolds.scss */
.registros p {
  margin: 0 15px 0 0;
}

/* line 151, app/assets/stylesheets/scaffolds.scss */
.registros p::after {
  content: '|';
}

/* line 157, app/assets/stylesheets/scaffolds.scss */
.content {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 162, app/assets/stylesheets/scaffolds.scss */
.d-grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}

/* line 168, app/assets/stylesheets/scaffolds.scss */
input {
  height: 30px;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  width: 95%;
}

/* line 175, app/assets/stylesheets/scaffolds.scss */
.button-link {
  color: #3535ff !important;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 8px;
}

/* line 181, app/assets/stylesheets/scaffolds.scss */
.button-link:hover {
  background-color: #e1e1ff;
}

/* line 184, app/assets/stylesheets/scaffolds.scss */
.button-link::before {
  content: 'ᐊ';
}
/* line 5, app/assets/stylesheets/users.scss */
input, label {
  margin: 0 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
