<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "Errores") %> encontrados, favor tener presente las siguientes condiciones: </h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="d-flex wrap card d-grid-form">
  <div class="field">
    <label for="">Nombre <span class="label-required"> *</span></label>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <label for="">Email <span class="label-required"> *</span></label>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <label for="">Edad <span class="label-required"> *</span></label>
    <%= form.text_field :edad %>
  </div>

  <div class="field">
    <label for="">Ciudad</label>
    <%= form.text_field :ciudad %>
  </div>

  <div class="field">
    <label for="">Teléfono <span class="label-required"> *</span></label>
    <%= form.text_field :telefono %>
  </div>

  <div class="field">
    <label for="">Dirección</label>
    <%= form.text_field :direccion %>
  </div>

  <div class="field">
    <label for="">Rol</label>
    <%= form.text_field :rol %>
  </div>


</div>
  <div class="actions flex-buttons flex-end">
    <%= form.submit "#{form.object.new_record? ? 'Crear' : 'Actualizar'} Usuario ", class: 'btn btn-primary' %>
  </div>

<% end %>
