<p class="class"><%= notice %></p>

<div class="flex-buttons">
  <h1>Administración de usuarios</h1>
  <%= link_to 'Nuevo usuario', new_user_path %>
</div>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Edad</th>
      <th>Teléfono</th>
      <th>Rol</th>

      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.nombre %></td>
        <td><%= user.email %></td>
        <td><%= user.edad %></td>
        <td><%= user.telefono %></td>
        <td><%= user.rol %></td>
        <td class="btn-ver"><%= link_to 'Ver', user %></td>
        <td class="btn-editar"><%= link_to 'Editar', edit_user_path(user) %></td>
        <td class="btn-eliminar"><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Esta seguro de eliminar a este usuario?'}  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

