<%= flash[:notice] %>
<%# <p class="notice"><%= notice %></p> %>

<%= link_to 'Volver', users_path, class: "button-link" %>
<div class="flex-buttons">
<h1>Información del Usuario</h1>
<%= link_to 'Editar', edit_user_path(@user) %>
</div>
<div class="card d-flex registros wrap">
<p>
  <strong>Name:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @user.edad %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @user.ciudad %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @user.telefono %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @user.direccion %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @user.rol %>
</p>


</div>