body {
  background-color: #fafafa;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: #fff;
  background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

.notice {
  width: 450px;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #ddeee4;
  border-radius: 6px;
  color: green;
}

.field_with_errors input{
  padding: 2px;
  border: 1px solid rgb(248, 104, 104);
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px rgb(248, 104, 104);
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: rgb(248, 104, 104);
  color: #fff;
  &::before{
    content: '⚠️';
    font-size: 20px;
  } }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

table{
  border: 1px solid #c1c1c1;
  border-collapse: collapse;
  width: 100%;

  th{
    background: #f1f1f1;
    font-size: 16px;
    text-align: left;
    padding: 15px 10px;
  }
  .btn-ver{
    a{
      &:hover{
        background: #23cba7;
      }
    }
  }
  .btn-editar{
    a{
      &:hover{
        background: #19b5fe;
      }
    }
  }
  .btn-eliminar{
    a{
      &:hover{
        background: #e74c3c;
      }
    }
  }
  td{
    font-size: 16px;
    padding: 15px 10px;
    a{
      font-size: 16px;
      text-decoration: none;
      background: none;
      border: 1px solid #c1c1c1;
      padding: 10px 15px;
      border-radius: 10px;
    }
  }
}
.flex-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  a, input{
    background: #f2784b;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 10px;
    border:none;
    max-width: 200px;
    &:hover{
      background: #b45836;
    }
  }
  input{
    margin-top: 15px;
    height: 40px;}
}

.flex-end{
  justify-content: flex-end!important;
}
.card{
  background: white;
  padding: 20px;
  border-radius: 8px;

}
.d-flex{
  display: flex;
}
.wrap{
  flex-wrap: wrap;
}
.registros p{
  margin: 0 15px 0 0;
  &::after{
    content: '|';
  }

}

.content{
  max-width: 1200px;
  margin: 0 auto;
}

.d-grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}

input {
  height: 30px;
  border: 1px solid #c1c1c1;
  border-radius: 4px;
  width: 95%;
}

.button-link{
  color: #3535ff!important;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 8px;
  &:hover{
      background-color: #e1e1ff;
    }
  &::before{
    content: 'ᐊ';
  }
}

.label-required{
  color: #e74c3c;
}